<div class="contents row">
  <div class="container">
    <%= form_tag('/projects', method: :post) do %>
      <h3>
        投稿する
      </h3>
      <input placeholder="image" type="text" name="image">
      <textarea cols="30" name="title" placeholder="title" rows="10"></textarea>
      <textarea cols="30" name="price" placeholder="price" rows="10"></textarea>
      <textarea cols="30" name="adress" placeholder="adress" rows="10"></textarea>
      <textarea cols="30" name="explain" placeholder="explain" rows="10"></textarea>
      <input type="submit" value="SENT">
    <% end %>
  </div>
</div>